.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
	background-color: rgb(235, 235, 235);
	border-color: #DFDFDF;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: black !important;
}

.footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	border-top: 1px solid #e6e6e6;
}
